﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



.color-red {
    color: #FF6C60;
    text-transform: lowercase;
    font-style: italic;
}

.color-green {
    color: green;
}

.color-blue {
    color: #53bee6;
    text-transform: lowercase;
    font-style: italic;
}

.color-orange {
    color: #fbc10b;
    text-transform: lowercase;
    font-style: italic;
}

.error {
    color: red;
}


.changes-height {
  height: 500px;
}
